.content {
    padding: 0 10%;
}

@media (max-width: 1040px) {
    .content {
        padding: 0 30px;
    }
}

.sidebar .lists {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .user-profile .content .sidebar {
        display: none;
    }
}

.sidebar .lists h3 {
    color: #727e8e;
    font-size: 16px;
}

.sidebar .lists a {
    text-decoration: none;
}

.sidebar .lists .list {
    padding: 0 10px;
    color: #727e8e;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin: 5px 0;
    font-weight: normal;
}

.sidebar .lists .flex-row:hover {
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 5px;
}

.sidebar .lists .count {
    opacity: 0;
    padding: 0 10px;
    color: #727e8e;
    justify-content: space-between;
    font-size: 13px;
    margin: 5px 0;
    font-weight: normal;
}

.sidebar .lists:hover .count {
    transition: 0.25s;
    opacity: 100;
}


.userlists .active {
    background-color: white;
    border-radius: 5px;
}

.userlists .active .list, .userlists .active .count {
    color: #445c79;
    font-weight: 700;
}

.list-wrap {
    margin-left: 50px;
}

@media (max-width: 768px) {
    .list-wrap {
        margin-left: 0px;
    }
}

.list-entries {
    margin-bottom: 30px;
}

.list-wrap .title-link {
    justify-content: space-between;
    align-items: baseline;
}

.list-wrap .title-link h3 {
    font-size: 20px;
    font-weight: 300;
    color: #727e8e;
}

.list-wrap .list-section {
    gap: 20px;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .list-wrap .list-section {
        gap: 10px;
    }
}

.list-wrap .list-section .list-card {
    height: 210px;
    width: 150px;
}

@media (max-width: 768px) {
    .list-wrap .list-section .list-card {
        height: 160px;
        width: 120px;
    }
}

.list-card img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
}

.list-card h3 {
    color: #727e8e;
    font-size: 13px;
}

.pen-button, .trash-button {
    border: 0px solid transparent;
}