#characters {
    margin-left: 50px;
    flex: 80%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    #characters {
        margin: 20px 0 0;
    }
}

/***                   Filter                    ***/

.characters-dropdown {
    justify-content: right;
    margin-bottom: 30px;
}

.characters-dropdown button {
    background-color: #151f2e;
    color: #8b9fb5;
    padding: 10px;
    border-radius: 5px;
    padding-right: 80px;
}

/***                   Characters                  ***/

.characters-wrap {
    flex-wrap: wrap;
    justify-content: space-between;
}

.characters-card {
    flex: 48%;
    max-width: 48%;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 3px;
}

@media (max-width: 1040px) {
    .characters-card {
        flex: 100%;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .characters-card {
        flex: 100%;
        max-width: 100%;
    }
}

.characters-card img {
    width: 60px;
    height: 80px;
    object-fit: cover;
}

.characters-description {
    flex: 70%;
    justify-content: space-between;
}

.characters-name {
    justify-content: space-between;
}

.characters-name div {
    color: #8b9fb5;
    padding: 10px;
    font-size: 12px;
}

.characters-wrap .characters-card .characters-name {
    justify-content: space-between;
}

.characters-wrap .characters-card .characters-name a {
    color: #8b9fb5;
    text-decoration: none;
    padding: 7px 10px 0;
    transition: 0.2s;
    font-weight: 400 !important;
}

.characters-wrap .characters-card .characters-name-upper a {
    color: rgb(92,114,138);
    font-size: 1.2rem;
}

.characters-wrap .characters-card .characters-name-lower div {
    color: rgb(146,153,161);
    font-size: 1.1rem;
    font-weight: 400 !important;
}

.characters-wrap .characters-card .characters-name .actors {
    text-align: right;
}

.characters-wrap .characters-card .characters-name div {
    padding: 0 10px 7px;
}

.characters-wrap .characters-card .characters-name a:hover {
    color: rgb(0, 143, 143);;
}