#characters {
    margin-left: 50px;
    flex: 80%;
    display: flex;
    flex-direction: column;
}

.characters-dropdown {
    display: flex;
    justify-content: right;
    margin-bottom: 30px;
}

.characters-dropdown button {
    background-color: #151f2e;
    color: #8b9fb5;
    padding: 10px;
    border-radius: 5px;
    padding-right: 80px;
}

.characters-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.characters-wrap .characters-card {
    display: flex;
    flex-direction: row;
    flex: 48%;
    max-width: 48%;
    margin-bottom: 20px;
    background-color: #151f2e;
}

.characters-wrap .characters-card img {
    width: 60px;
    height: 80px;
    object-fit: cover;
}

.characters-wrap .characters-card .characters-name {
    display: flex;
    flex-direction: row;
    flex: 70%;
    justify-content: space-between;
}

.characters-wrap .characters-card .characters-name a {
    color: #8b9fb5;
    text-decoration: none;
    padding: 10px;
    font-size: 12px;
}