/**         Character Headings          **/

.character-headings {
    padding: 30px 10% 12px;
    background-color: #151f2e;
}

@media (max-width: 1040px) {
    .character-headings {
        padding: 30px 30px 12px;
    }
}

@media (max-width: 760px) {
    .character-headings {
        padding: 30px 20px 12px;
    }
}

.character-cover {
    align-items: center;
}

.character-cover img {
    width: 175px;
    height: 250px;
    object-fit: cover;
}

.character-heading-content {
    width: 100%;
    padding-left: 30px;
}

.character-heading-content h3 {
    color: #8b9fb5;
    font-size: 20px;
    font-family: Roboto;
}

.character-heading-content p {
    color: #727e8e;
    font-family: Roboto;
    font-size: 13px;
    margin-left: 0px;
    padding-left: 0px;
    transition: 0.2s;
}

.character-info p {
    line-height: 0%;
}

.character-heading-content p:hover {
    color: #8b9fb5;
}


/**         Character Animes        **/

.character-animes {
    padding: 20px 10% 12px;
    background-color: #0b1622;
}

@media (max-width: 1040px) {
    .character-animes {
        padding: 20px 30px 12px;
    }
}

@media (max-width: 760px) {
    .character-animes {
        padding: 20px 20px 12px;
    }
}

.character-animes .character-button-groups {
    justify-content: end;
    gap: 20px;
}

.character-animes .related-animes {
    display: grid;
    grid-template-columns: repeat(auto-fill,185px);
    padding-top: 30px;
    justify-content: space-between;
    gap: 25px 20px;
}

.character-animes .related-animes .media-card {
    width: 185px;
    height: 314px;
    margin-bottom: 20px;
}