.dropbtn {
  background-color: inherit;
  color: #e5e5e5;
  padding: 7px 15px;
  padding-bottom: 3px;
  font-size: 1.1em;
  border: none;
  cursor: pointer;
}

.dropbtn:focus {outline:0;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  font-size: 1.05em;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #7A7A7A;
}

.dropdown:hover .dropbtn {
  color: white;
}

.show {display:block;}