#episodes {
    margin-left: 50px;
    flex: calc(100% - 265px);
}

@media (max-width: 768px) {
    #episodes {
        margin: 20px 0 0;
    }
}

.episodes-wrap {
    flex-wrap: wrap;
    justify-content: space-between;
}

.episodes-wrap .episodes-card {
    flex: 30.5%;
    max-width: 30.5%;
    position: relative;
    border-radius: 3px;
    margin-bottom: 30px;
}

@media (max-width: 1040px) {
    .episodes-wrap .episodes-card {
        flex: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .episodes-wrap .episodes-card {
        flex: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
}

.episodes-wrap .episodes-card a{
    text-decoration: none;
    color: white;
}

.episodes-wrap .episodes-card img {
    width: 100%;
    border-radius: 3px;
}

@media (max-width: 1040px) {
    .episodes-wrap .episodes-card img {
        height: 100px;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .episodes-wrap .episodes-card img {
        height: 100px;
        object-fit: cover;
    }
}

.episodes-card .title {
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0,0,0,0.4);
    padding: 7px 13px;
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: 400;
    overflow-x: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}