#episodes {
    margin-left: 50px;
    flex: 80%;
}

.episodes-wrap {
    flex-wrap: wrap;
    justify-content: space-between;
}

.episodes-wrap .episodes-card {
    flex: 31%;
    max-width: 31%;
    margin-bottom: 20px;
    position: relative;
}

.episodes-wrap .episodes-card a{
    text-decoration: none;
    color: white;
}

.episodes-wrap .episodes-card img {
    max-width: 100%;
}

.episodes-card .title {
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0,0,0,0.4);
    padding: 7px 13px;
    white-space: nowrap;
    font-size: 12px;
    overflow-x: hidden;
}