.modal-content {
  border-radius: 0px !important; 
  border: 1px solid #edf1f5 !important; 
  background-color: #edf1f5 !important; 
  color: #5c728a !important;
}

.modal-header {
  background-color: #edf1f5 !important;
  border-bottom: 1px solid #E0E7EF !important; 
  position: relative; 
  height: 65px;
}

.modal-header .modal-close-btn {
  position: absolute; 
  top: 15px; 
  left: 12px; 
  cursor: pointer; 
  font-size: 24px; 
  padding: 5px; 
  border-radius: 50%;
  font-size: 18px; 
  margin-top: 4px;
}

.modal-header .modal-close-btn:hover {
  background-color: #323434; 
}

.modal-header .modal-title {
  text-align: center; 
  font-weight: bold; 
  margin: 0; 
  padding: 0; 
  margin-top: 6px; 
  font-size: 16px;
}

.modal-body {
  /* padding: 0 !important */;
}

.modal-footer {
  border-top: none !important; 
  width: 100%; 
  text-align: center; 
  padding: 12px 15px !important;
}

.modal-footer div {
  display: inline-block; 
  float: left; 
  line-height: 38px; 
  color: #5c728a; 
  cursor: pointer; 
  text-decoration: underline; 
  margin-left: 5px;
}

.modal-footer button {
  border: none; 
  color: #fff; 
  background-color: #5c728a !important;
  border-radius: 0; 
  height: 100%; 
  width: auto; 
  font-weight: bold; 
  border-radius: 5px; 
  padding: 10px 20px;
  outline: 0 !important;
}

.modal-footer button:hover {
  filter: brightness(120%);
}