.headings {
    display: flex;
    flex-direction: row;
    padding: 0 10% 12px;
    background-color: #151f2e;
}

.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -115px;
}

.cover img {
    width: 215px;
    height: 300px;
}

@media (max-width: 1040px) {
    .headings {
        padding: 0 30px 12px;
    }
}

@media (max-width: 760px) {
    .headings {
        flex-direction: column;
        padding: 0 20px;
    }

    .cover {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: baseline;
        margin-top: -95px;
        gap: 20px;
    }

    .cover img {
        width: 100px;
        height: 141px;
    }
}

//cover buttons

.button-groups {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
    width: 215px;
}

.button-groups button {
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: lighter;
}

.add {
    background-color: #3eb4f3;
    padding: 7px 30px !important;
    font-family: Roboto;
}

@media (max-width: 760px) {
    .button-groups {
        justify-content: flex-start;
        gap: 20px;
        width: 100%;
    }

    .btn-group, .add {
        width: 100%;
    }

    .btn-group button {
        border-radius: 3px !important;
    }

    .down {
        display: none !important;
    }
}

//add-to-list-form

.modal-dialog {
    min-width: 990px;
}

.modal-body .photo-banner img {
    opacity: 40%;
    width: 100%;
    border-radius: 5px 5px 0 0;
    height: 180px;
    object-fit: cover;
    z-index: 1;
}

.modal-body .photo-cover {
    width: 100%;
    align-items: center;
    padding: 0 50px;
    margin: -115px 0 10px;
}

.modal-body .photo-cover h3 {
    margin-left: 20px;
    font-size: 17px;
    font-weight: 450;
    z-index: 10;
}

.modal-body .photo-cover img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    z-index: 10;
}

@media (max-width: 1000px) {
    .modal-dialog {
        min-width: 760px;
    }
}

@media (max-width: 760px) {
    .modal-dialog {
        min-width: 0px;
    }
}

.add-to-list-content {
    display: flex;
    flex-direction: row;
    padding: 0 50px;
}

@media (max-width: 760px) {
    .add-to-list-content {
        flex-direction: column;
    }
}

.add-to-list-content .filters {
    width: 85%;
    flex-wrap: wrap;
    padding-right: 30px;
}

@media (max-width: 760px) {
    .add-to-list-content .filters {
        padding-right: 0px;
    }
}

.add-to-list-content .filters .filter {
    flex-basis: 30%;
}

.add-to-list-content .filters .filter .bar {
    width: 100%;
}

@media (max-width: 1000px) {
    .add-to-list-content .filters .filter {
        flex-basis: 100%;
    }
}

@media (max-width: 760px) {
    .add-to-list-content .filters {
        width: 100%;
    }
}

.add-to-list-content .notes {
    flex-basis: 100% !important;
    margin-bottom: 30px;
    padding-right: 10px;
}

@media (max-width: 1000px) {
    .add-to-list-content .notes {
        padding-right: 0px;
    }
}

.add-to-list-content .notes .bar {
    width: auto;
}

.form-group {
    width: 15%;
}

@media (max-width: 760px) {
    .form-group {
        width: 100%;
    }
}

.form-group h3 {
    font-size: 15px;
    color: #8b9fb5;
}

.form-group hr {
    width: 100%;
}

//button dropdown

.list .down {
    background-color: #5ebff5;
}

.list .down .fa {
    padding: 4px 0;
}

.list .dropdown-menu {
    background-color: azure;
    padding: 10px 0px;
    text-wrap: nowrap;
}

.list .dropdown-menu a {
    color: gray;
    text-decoration: none;
    padding: 5px 20px;
    transition: 0.2s;
}

.list .dropdown-menu a:hover {
    color: white;
    background-color: #3eb4f3;
}

.button-groups .favorite {
    background-color: #ed294b;
    padding: 7px 10px;
}

//heading content

.heading-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 30px;
    justify-content: space-between;
}

.heading-content h3 {
    color: #8b9fb5;
    font-size: 20px;
    font-family: Roboto;
}

.heading-content p {
    color: #727e8e;
    font-family: Roboto;
    margin-bottom: 80px;
    font-size: 13px;
    margin-left: 0px;
    padding-left: 0px;
    transition: 0.2s;
}

.heading-content p:hover {
    color: #8b9fb5;
}

.heading-content .navtabs {
    justify-content: space-around;
    text-align: center;
}

.heading-content .navtabs button {
    border: none;
    color: #8b9fb5;
    font-family: Roboto;
    background-color: transparent;
    transition: 0.3s;
}

.heading-content .navtabs button:hover {
    color: #3eb4f3;
}

.heading-content .navtabs button.active {
    color: #5ebff5;
}

@media (max-width: 760px) {
    .heading-content {
        padding: 0;
    }

    .heading-content p{
        display: none;
    }

    .heading-content .navtabs {
        margin: 10px 0;
        gap: 10px;
        white-space: nowrap;
        overflow-x: auto;
    }
}