.flex-center-content .filters-wrap {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: flex-end;
}

.filters {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.filter {
    display: flex;
    flex-direction: column;
}

.filter h3 {
    font-size: 1.3rem;
    color: rgba(122,133,143,0.9) !important;
    font-weight: 400;
}

.filter .bar {
    height: 40px;
    width: 170px;
    background-color: #EDF1F5;
    border-radius: 5px;
    position: relative;
    z-index: 5;
}

.home-wrapper {
    margin-top: 100px;
}

.home-wrapper .filter h3 {
    font-size: 1.5rem;
    color: rgba(81,97,112) !important;
    font-weight: 500;
}

.home-wrapper .filter .bar {
    height: 38px;
    width: 170px;
    background: rgb(251,251,251);
    border-radius: 6px;
    position: relative;
    z-index: 5;
    margin-top: 3px;
    box-shadow: 0 14px 30px rgba(103,132,187, .1), 0 4px 4px rgba(103,132,187, .04);
    font-size: 1.3rem;
    color: rgb(116,136,153);
    line-height: 38px;
}

.home-wrapper .filter .bar input::placeholder {
    color: rgb(173,192,210);
    opacity: 1;
}

.home-wrapper .filter i.home-search-arrow {
    float: right; 
    vertical-align: middle; 
    margin-top: 3px; 
    font-size: 29px; 
    color: rgb(201,215,227); 
    margin-right: -3px;
    transition: color .2s ease;
}

.home-wrapper .filter button:hover i.home-search-arrow {
    color: rgb(173,192,210);
}

.home-wrapper .filter .home-option-wrapper {
    position: absolute; 
    top: calc(100% + 10px); 
    background: rgb(251,251,251); 
    box-shadow: 0 14px 30px rgba(103,132,187, .15), 0 4px 4px rgba(103,132,187, .05); 
    width: 100%; 
    max-height: 500px; 
    padding: 10px; 
    overflow-y: scroll; 
    border-radius: 6px; 
    border: none;
}

.home-wrapper .filter .home-option-wrapper .home-option {
    color: rgb(116,136,153); 
    font-size: 1.4rem; 
    padding: 8px 12px; 
    transition: background .2s ease-in-out, color .2s ease-in-out; 
    font-weight: normal;
    border-radius: 4px;
}

.home-wrapper .filter .home-option-wrapper .home-option:hover {
    color: rgb(61,180,242);
    background: rgba(237,241,245, .6);
    text-decoration: none;
}

.filter .bar input[type=search],
.filter .bar input[type=number],
.filter .bar input[type=date],
.filter .bar input[type=text],
.filter .bar textarea {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline-width: 0;
    color: rga(92,114,138);
    padding: 5px 12px;
    font-weight: 400;
}

.filter .bar .scroll-wrap {
    display: none;
    background-color: #151f2e;
    margin-top: 10px;
    padding: 5px 15px 10px;
    border-radius: 5px;
    animation: expand 0.15s;
    z-index: 6;
}

.filter .filter-value-text {
    margin-top: -1px;
    display: inline-block;
    float: left;
    font-weight: 500;
}

.filter .filter-value-text.active {
    color: rgb(61,180,242);
}

.filter #extra-filter-dropdown {
    display: none;
    position: absolute;
    width: 475px;
    height: 265px;
    z-index: 100;
    top: 51px;
    right: 0px;
    padding: 40px;
    padding-top: 20px;
}

.filter #extra-filter-dropdown .extra-filter-btn {
    outline:0 !important; 
    color: rgb(139,160,178); 
    padding: 0px 14px 5px 14px; 
    background: rgb(237,241,245) !important;
    box-shadow: none !important; 
    width: 180px !important; 
    height: 38px;
}

.filter #extra-filter-dropdown .extra-filter-btn .home-search-arrow {
    color: rgb(173,192,210) !important;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
#extra-filter-dropdown.show {display:block;}

@keyframes expand {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

.option-group option {
    padding: 5px 8px;
    color: #9baec1;
    transition: 0.2s;
}

.option-group option:hover {
    background-color: #0b1622;
    color: aqua;
    cursor: pointer;
    border-radius: 5px;
}

.option-group option.selected {
    color: red;
}

#search-sort-toggle-btn {
    outline:0; 
    color:rgb(139,160,178); 
    padding: 0px; 
    font-size: 1.3rem; 
    font-weight: 500; 
    line-height: 20px; 
    box-shadow: none;
}

#search-sort-toggle-btn, #search-sort-toggle-btn img {
    transition: color .3s ease;
    transition: filter .2s ease;
}

#search-sort-toggle-btn:hover {
    color: rgb(92,114,138);
}

#search-sort-toggle-btn:hover img {
    filter: brightness(0.67);
}

#search-sort-dropdown {
    background: rgb(251,251,251); 
    border-radius: 6px; 
    box-shadow: 0 14px 30px rgba(103,132,187, .15), 0 4px 4px rgba(103,132,187, .05) !important; 
    cursor: auto; 
    padding: 10px 16px;
    right: 0px;
    position: absolute; 
    top: calc(100% + 10px);
    min-width: 100px; 
    width: 100px; 
    z-index: 1000; 
    border: none;
}

#search-sort-dropdown .sort-option {
    color: rgb(116,136,153); 
    cursor: pointer; 
    font-size: 1.3rem; 
    font-weight: 500; 
    padding: 8px 0; 
    transition: color .2s ease; 
    text-decoration: none;
}

#search-sort-dropdown .sort-option:hover {
    color: rgb(61,180,242);
}

//extra-filter-wrap

.extra-filter-wrap {
    height: 40px;
    width: 40px;
    background-color: #151f2e;
}

.extra-filter-wrap #home-filter-more-btn {
    align-items: center; 
    background: rgb(251,251,251); 
    border-radius: 6px; 
    box-shadow: 0 14px 30px rgba(103,132,187, .15), 0 4px 4px rgba(103,132,187, .05); 
    color: rgb(173,192,210); 
    cursor: pointer; 
    font-size: 1.8rem; 
    height: 38px; 
    width: 38px; 
    display: inline-flex; 
    justify-content: center; 
    transition: color .3s ease-in-out; 
    margin-top: 2px; 
    float: right;
}

.extra-filter-wrap #home-filter-more-btn:hover {
    color: rgb(111,200,255);
}

.extra-filter-dropdown {
    position: relative;
    background-color: #151f2e;
    padding: 25px 40px;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    display: none;
    flex-direction: column;
    animation: expand 0.15s;
}

.extra-filter-dropdown .filters-wrap .filter .bar {
    background-color: #0b1622;
}

.extra-filter-dropdown .filters-wrap .filter .bar .scroll-wrap {
    background-color: #0b1622;
}

.extra-filter-dropdown .filters-wrap .filter .bar .scroll-wrap .option-group option:hover {
    background-color: #151f2e;
    border-radius: 5px;
}

.extra-filter-dropdown .range .filter .bar {
    background-color: transparent;
}

.extra-filter-dropdown .checkbox .filter .bar {
    background-color: transparent;
}

.extra-filter-dropdown .checkbox .filter .bar label {
    color: #9baec1;
    padding: 0;
}

//landing-section showing animes

.landing-section {
    margin-bottom: 50px;
}

.landing-section .title-link {
    width: 100%;
}

.landing-section .title-link a {
    text-decoration: none;
}

.landing-section .title-link h3 {
    color: rgb(100,115,128);
    font-size: 1.6rem;
    letter-spacing: .03em;
    font-weight: 700;
    transition: color .2s ease;
}

.landing-section .title-link .title-link-expand {
    color: rgb(139,160,178);
    font-size: 1.2rem;
    font-weight: 700;
    transition: color .2s ease;
}

.landing-section .title-link h3:hover, .landing-section .title-link .title-link-expand:hover {
    color: rgb(81,97,112);
}

.landing-section .media-wrap {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 25px calc((100% - 185 * 5px) / 4);
    flex-wrap: wrap;
}

.media-card {
    position: relative;
    cursor: pointer;
    width: 185px;
}

.media-card .cover {
    background: rgba(221,230,238, .8);
    border-radius: 4px;
    box-shadow: 0 14px 30px rgba(103,132,187, .15), 0 4px 4px rgba(103,132,187, .05);
    cursor: pointer;
    display: inline-block;
    height: 265px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 5;
}

.media-card .cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media-card a {
    text-decoration: none;
    color: rgb(116,136,153); 
    font-size: 1.4rem; 
    font-weight: 500; 
    line-height: 22px; 
    margin-top: 5px; 
    overflow: hidden;
    transition: color .2s ease; 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2;
}

.media-card:hover a {
    color: rgb(111,200,255);
}

.media-card:nth-child(6) {
    display: none;
}

@media (max-width: 1040px) {
    .landing-section .media-wrap {
        gap: 25px 14px;
    }

    .media-card {
        width: calc((100% - 14px * 5) / 6);
        height: auto;
    }

    .media-card .cover {
        height: calc((100vw - 40px - 14px * 5) / 6 / 0.7);
    }

    .media-card .cover img {
        height: 100%;
    }

    .media-card:nth-child(6) {
        display: block;
    }
}

@media (max-width: 860px) {
    .media-card {
        width: calc((100% - 14px * 4) / 5);
    }

    .media-card .cover {
        height: calc((100vw - 40px - 14px * 4) / 5 / 0.7);
    }

    .media-card:nth-child(6) {
        display: none;
    }
}

@media (max-width: 645px) {
    .landing-section .media-wrap {
        gap: 25px 20px;
    }

    .media-card {
        width: calc((100% - 20px * 3) / 4);
    }

    .media-card .cover {
        height: calc((100vw - 40px - 20px * 3) / 4 / 0.7);
    }

    .media-card:nth-child(5), .media-card:nth-child(6) {
        display: none;
    }

    .media-card a {
        font-size: 1.2rem;
        line-height: 17px;
    }
}

@media (max-width: 520px) {
    .media-card {
        width: calc((100% - 20px * 2) / 3);
    }

    .media-card .cover {
        height: calc((100vw - 40px - 20px * 2) / 3 / 0.7);
    }

    .media-card:nth-child(5), .media-card:nth-child(6) {
        display: block;
    }
}

@media (max-width: 400px) {
    .landing-section .media-wrap {
        gap: 20px 12px;
    }

    .media-card {
        width: calc((100% - 12px * 2) / 3);
    }

    .media-card .cover {
        height: calc((100vw - 20px - 12px * 2) / 3 / 0.7);
    }
}

// buttons on media-card

.media-card .button-wrap {
    position: absolute;
    cursor: pointer;
    scale: 1.3;
    padding: 8px;
}

.media-card .button-wrap .button-list {
    display: none;
    position: absolute;
    flex-direction: row;
    justify-content: baseline;
    color: white;
    gap: 5px;
    opacity: 80%;
}

.media-card .button-wrap .button-list .action-btn {
    background-color: black;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}

.media-card .button-wrap .button-list .button-text {
    display: none;
    background-color: black;
    border-radius: 5px;
    padding: 5px 12px;
    font-size: 9px;
}

.media-card:hover .button-list {
    display: flex;
    animation: animatezoom 0.2s;
}

.action-btn:hover {
    scale: 1.05;
}

.media-card .button-wrap .button-list .action-btn:hover + .button-text, .button-list:hover {
    display: block;
    text-wrap: nowrap;
    animation: animatezoom 0.2s;
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

//top anime sections

.top-anime .title-link {
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 12px;
}

.top-anime .title-link a {
    text-decoration: none;
    color: #8b9fb5;
    transition: 0.3s;
}

.top-anime .title-link a:hover {
    color: aliceblue;
}

.top-anime .results .results-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.top-anime .results .rank {
    flex: 7%;
    max-width: 7%;
    padding: 20px 10px;
    color: #8b9fb5;
    font-size: x-large;
    align-items: center;
    text-align: center;
}

.top-anime .results .rank span {
    font-size: medium;
}

.top-anime .results .content {
    display: flex;
    flex-direction: row;
    flex: 90%;
    max-width: 90%;
    padding: 10px;
    background-color: #151f2e;
    border-radius: 5px;
    justify-content: space-between;
}

.top-anime .results .content img {
    width: 48px;
    height: 60px;
    margin-right: 40px;
}

.top-anime .results .content a {
    text-decoration: none;
    color: rgb(221, 229, 236);
    font-size: 16px;
    transition: 0.3;
}

.top-anime .results .content a:hover {
    color: white;
}


.top-anime .results .content .anime-title {
    display: flex;
    flex-direction: row;
}

.top-anime .results .content .title-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top-anime .results .content .title-wrap .genres a {
    font-size: 13px;
    background-color: brown;
    padding: 3px 8px;
    border-radius: 40px;
    margin-right: 5px;
}

.top-anime .results .content .anime-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top-anime .results .content .anime-info .overall-rating,
.rating,
.category,
.ended-at {
    display: flex;
    flex-direction: column;
    color: #8b9fb5;
    margin-right: 40px;
    justify-content: space-around;
}