.navbar {
    justify-content: space-between;
    background-color: #151f2e;
    align-items: center;
    height: 68px;
}

.navbar .icon img{
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.navbar-wrap a {
    text-decoration: none;
    color: #8b9fb5;
    font-family: Roboto;
    background-color: transparent;
    transition: 0.3s;
    margin: 0 20px;
}

.navbar-wrap a:hover {
    color: #b3cce8;
}

//search dropdown

.search-wrap a{
    padding: 20px 0;
}

.search-dropdown {
    display: none;
    position: absolute;
    top: 60px;
    padding: 10px 20px;
    background-color: #151f2e;
    border-radius: 5px;
    animation: expand 0.15s;
}

.search-dropdown a {
    margin: 0px;
    padding: 0px;
}

.search-wrap:hover .search-dropdown {
    display: flex;
}

.search-wrap:hover .search-dropdown .primary-links .primary-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.primary-link-card {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.primary-link-card a{
    margin-left: 10px;
}

.primary-link-card h3 {
    font-size: 15px;
    color: #8b9fb5;
}

.secondary-links {
    display: flex;
    flex-direction: row;
}

.secondary-links a {
    font-size: 12px;
}

.navbar-search-user button {
    border: none;
    color: #8b9fb5;
    font-family: Roboto;
    background-color: transparent;
    transition: 0.3s;
}

.navbar-search-user i {
    font-size: 20px;
}

.navbar-search-user .navbar-user img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

