.navbar-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 68px;
    background: rgba(35,38,67,.5) !important;
    border-radius: 0px;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 100000000 !important;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1046px;
    align-items: center;
    padding: 20px 0px;
    margin: 0 !important;
    border-radius: 0px !important;
}

@media (max-width: 1040px) {
    .navbar {
        padding: 20px 30px;
    }
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }
}

.navbar:before, .navbar:after {
    content: none !important;
}

.navbar .icon img{
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.navbar-links {
    align-items: center;
    display: inline-flex;
    font-family: Overpass, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    justify-content: center;
    text-transform: capitalize;
    width: 100%;
    text-decoration: none !important;
}

.navbar-links a {
    color: #e5e7ea;
    transition: 0.3s;
    margin: 0 15px;
    white-space: nowrap;
    text-decoration: none !important;
}

.navbar-links a:hover {
    color: #b3cce8;
}

//search dropdown

.search-wrap a{
    padding: 20px 0;
}

.search-dropdown {
    display: none;
    position: absolute;
    top: 60px;
    padding: 10px 20px;
    background-color: #151f2e;
    border-radius: 5px;
    animation: expand 0.15s;
}

.search-dropdown a {
    margin: 0px;
    padding: 0px;
}

.search-wrap:hover .search-dropdown {
    display: flex;
}

.search-wrap:hover .search-dropdown .primary-links .primary-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.primary-link-card {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.primary-link-card a{
    margin-left: 10px;
}

.primary-link-card h3 {
    font-size: 15px;
    color: #8b9fb5;
}

.secondary-links {
    display: flex;
    flex-direction: row;
}

.secondary-links a {
    font-size: 12px;
}

.navbar-search-user button {
    border: none;
    color: #8b9fb5;
    font-family: Roboto;
    background-color: transparent;
    transition: 0.3s;
}

.navbar-search-user i {
    font-size: 18px;
}

.navbar-search-user .navbar-user {
    white-space: nowrap;
}

.navbar-search-user .navbar-user img {
    height: 38px;
    width: 38px;
    border-radius: 3px;
    object-fit: cover;
}

