.navbar {
    align-items: center;
    justify-content: space-between;
    background-color: #6c7881;
    padding: 0 20%;
}

.search-form {
    align-items: center;
}

.toggle-mode-button {
    background-color: black; 
    color: white;
    border-radius: 10px;
}
