a {
    color: blue !important;
}

#overview {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 10%;
}

.description {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    padding: 0 1%;
    max-width: 20%;
}

.ranking-seasonal,
.ranking-yearly,
.ranking-following,
.ranking-all {
    margin-bottom: 15px;
    padding: 2%;
    border: 1px solid none;
    background-color: lightgray;
}

.long-des {
    border: 1px solid none;
    background-color: lightgray;
}

.long-des pre {
    background-color: transparent;
    border: none;
    line-height: 1.55;
}

.intro {
    padding: 1% 1%;
    border: 1px solid none;
    background-color: lightgray;
}

.trailer {
    margin: 30px 0;
    padding: 1% 1%;
    border: 1px solid none;
    background-color: lightgray;
}

.volumes {
    margin: 30px 0;
    padding: 1% 1%;
    border: 1px solid none;
    background-color: lightgray;
}

.recommandations {
    display: flex;
    flex-direction: column;
}

.recommandation-list {
    display: flex;
    flex-direction: row;
}

.recommandation-list button {
    border: none;
    background: none;
}

.recommandation-list img {
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.recommandation img{
    margin-top: 20px;
    margin-right: 40px;
    height: 400px;
    width: 200px;
    object-fit: cover;
    border-radius: 10%;
    transition: 0.5s;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px;
}

.recommandation img:hover{
    width: 220px;
}