/****       Menu        ****/

.preview-menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.preview-menu-card {
    display: flex;
    flex-direction: column;
}

.preview-menu-card h3 {
    margin: 20px 0;
}

.preview-menu-card .seasons {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
}

.preview-menu-card .seasons .season {
    width: 220px;
    height: 295px;
    text-decoration: none;
    transition: transform 0.2s;
}

.preview-menu-card .seasons .season:hover {
    transform: scale(1.08);
}

.preview-menu-card .seasons .season img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    filter: brightness(60%);
}

.preview-menu-card .seasons .season .season-info {
    color: white;
    position: relative;
    bottom: 60px;
    left: 17px;
}

.preview-menu-card .seasons .season .season-info .season-name {
    font-size: 1.8rem;
}

.preview-menu-card .seasons .season .season-info .total {
    font-weight: lighter;
    font-size: 1.4rem;
    opacity: 0.8;
}

/****       Airing        ****/

.preview-airing .landing-section h3 {
    margin: 30px 0;
}

.preview-airing .media-wrap {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
}

.preview-airing .media-wrap .media-preview-card {
    height: 65px;
    max-width: 100%;
    width: 100%;
}

.preview-airing .media-wrap .media-preview-card img {
    width: 50px;
    height: 65px;
    object-fit: cover;
}

.preview-airing .media-wrap .media-preview-card .relations-content {
    width: 85%;
    padding: 10px 14px;
}

.preview-airing .media-wrap .media-preview-card .relations-content p {
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    font-size: 1.3rem; 
    color: rgb(92,114,138); 
    font-weight: 400; 
    margin-top: -3px;
    text-overflow: ellipsis;
}