/****       Show        ****/

.preview-show .flex-center-content {
    width: 95%;
}

.preview-show .flex-center-content .content-wrap .landing-section .title-link {
    margin-bottom: 20px;
}

.preview-show .content-wrap .landing-section .title-link h3 {
    font-size: 2.3rem;
}

.preview-show .content-wrap .landing-section .media-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/****       Search          ****/

.filter #sorting-dropdown {
    margin-left: -300%;
    overflow: hidden;
}

/****       Media-card      ****/

.preview-media-card {
    position: relative;
    max-width: none;
    width: 100%;
    box-shadow: 0 14px 30px rgba(103,132,187, .15), 0 4px 4px rgba(103,132,187, .05);
    transition: 0.2s;
}

.preview-media-card:hover {
    box-shadow: 0 28px 60px rgba(52, 57, 66, 0.15), 0 14px 30px rgba(58, 65, 77, 0.05);
}

.preview-media-card img {
    width: 185px;
    height: 265px;
    object-fit: cover;
}

.preview-media-card .title {
    position: absolute;
    width: 185px;
    bottom: 0px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 12px 12px;
}

.preview-media-card .title p {
    font-weight: lighter;
    color: white;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.preview-media-card:hover .title p {
    color: aqua;
}

.preview-media-card .title a {
    text-decoration: none;
}

.preview-media-card .title h5 {
    margin: 0;
}

.preview-media-card .relations-content {
    height: 265px;
    padding: 0;
    width: calc(100%);
}

.preview-media-card .relations-content p {
    font-weight: lighter;
    color: rgb(92,114,138);
}

.preview-media-card .relations-content h3 {
    font-size: 1.6rem; 
    color: rgb(92,114,138); 
    font-weight: 600; 
    margin-top: -3px; 
    margin-bottom: 0px;
    padding: 10px 15px 6px;
}


.preview-media-card .relations-content .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    height: 88px;
    width: calc(99%);
    overflow: hidden;
    padding: 0px 15px;
    margin-top: -30px;
    transition: 0.2s;
}

.preview-media-card:hover .relations-content .description {
    overflow-y: scroll;
    overflow-x: hidden;
    display: inline-block;
    -webkit-line-clamp: none;
    height: 120px;
    margin-top: 0px;
}

.preview-media-card .relations-content .tags {
    display: flex;
    flex-direction: row;
    background-color:  rgba(221,230,238, .8);
    width: calc(100%);
    height: 40px;
    padding: 10px 15px;
    gap: 10px;
}

.preview-media-card .relations-content .tags p {
    padding: 2px 10px;
    font-size: 1.2rem !important; 
    border-radius: 15px;
    background-color: pink;
    color: rgb(146,153,161); 
    font-weight: 600;
}

/****       Index       ****/

.preview-menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.preview-menu-card {
    display: flex;
    flex-direction: column;
}

.preview-menu-card h3 {
    margin: 20px 0;
}

.preview-menu-card .seasons {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
}

.preview-menu-card .seasons .season {
    width: 220px;
    height: 295px;
    text-decoration: none;
    transition: transform 0.2s;
    box-shadow: 0 14px 30px rgba(103,132,187, .15), 0 4px 4px rgba(103,132,187, .05); 
}

.preview-menu-card .seasons .season:hover {
    transform: scale(1.08);
}

.preview-menu-card .seasons .season img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    filter: brightness(60%);
}

.preview-menu-card .seasons .season .season-info {
    color: white;
    position: relative;
    bottom: 60px;
    left: 17px;
}

.preview-menu-card .seasons .season .season-info .season-name {
    font-size: 1.8rem;
}

.preview-menu-card .seasons .season .season-info .total {
    font-weight: lighter;
    font-size: 1.4rem;
    opacity: 0.8;
}

/****       Airing        ****/

.preview-airing .landing-section h3 {
    margin: 30px 0;
}

.preview-airing .media-wrap {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
}

.preview-airing .media-wrap .media-preview-card {
    height: 65px;
    max-width: 100%;
    width: 100%;
    box-shadow: 0 7px 10px rgba(103,132,187, .15), 0 4px 4px rgba(103,132,187, .05); 
}

.preview-airing .media-wrap .media-preview-card img {
    width: 50px;
    height: 65px;
    object-fit: cover;
}

.preview-airing .media-wrap .media-preview-card .relations-content {
    width: 85%;
    padding: 10px 14px;
}

.preview-airing .media-wrap .media-preview-card .relations-content p {
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    font-size: 1.3rem; 
    color: rgb(92,114,138); 
    font-weight: 400; 
    margin-top: -3px;
    text-overflow: ellipsis;
    transition: 0.2s;
}

.preview-airing .media-wrap .media-preview-card:hover .relations-content p {
    color: rgb(61,180,242);
}

/****       Button groups       ****/

.preview-button-groups .extra-filter-wrap {
    width: 60px;
    height: 60px;
}

.preview-button-groups .extra-filter-wrap #preview-filter-more-btn {
    align-items: center; 
    background: rgb(251,251,251); 
    border-radius: 6px; 
    box-shadow: 0 14px 30px rgba(103,132,187, .15), 0 4px 4px rgba(103,132,187, .05); 
    color: rgb(173,192,210); 
    cursor: pointer; 
    font-size: 1.8rem; 
    height: 60px; 
    width: 60px; 
    display: inline-flex; 
    justify-content: center; 
    transition: color .3s ease-in-out; 
    margin-top: 2px; 
    float: right;
}

.preview-button-groups .extra-filter-wrap .fa {
    margin: 0 0 3px;
}

.preview-button-groups .extra-filter-wrap h6 {
    white-space: nowrap;
    margin: 3px 0 0;
}

.preview-button-groups .extra-filter-wrap #preview-filter-more-btn:hover {
    color: rgb(111,200,255);
}