/* The container must be positioned relative: */
.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #EDF1F5;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 16px;
  right: 12px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: rgba(92,114,138) transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent rgba(92,114,138) transparent;
  top: 10px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: rgba(92,114,138);
  font-weight: 400;
  padding: 5px 12px;
  line-height: 30px;
  cursor: pointer;
}

.select-items div {
  padding: 3px 12px;
}

.select-selected {
  border-radius: 5px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: white;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0 1px 10px 0 rgba(49, 54, 68, .15);
  border-radius: 5px;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #f5f7fa;
}