.sidebar {
    display: flex;
    flex-direction: column;
    width: 215px;
}

.sidebar .ranking {
    color: rgb(92,114,138);
    margin-bottom: 15px;
    display: border;
    background-color: white;
    padding: 10px 10px;
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    border-radius: 3px;
    text-align: center;
}

.sidebar .ranking a{
    color: #727e8e;
    text-decoration: none;
}

.sidebar .ranking a:hover {
    color: rgb(0, 143, 143);
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .sidebar .ranking {
        display: none;
    }
}

.sidebar .data {
    display: border;
    background-color: white;
    padding: 15px;
    color: #727e8e;
    border-radius: 3px;
}

@media (max-width: 768px) {
    .sidebar .data {
        display: flex;
        flex-direction: row;
        height: 80px;
        overflow-x: auto;
        white-space: nowrap;
    }
}

.sidebar .data .data-set {
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .sidebar .data .data-set{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 25px;
        margin-bottom: 0px;
    }
}

.sidebar .data .data-set a{
    color: #727e8e;
    text-decoration: none;
    transition: 0.2s;
}

.sidebar .data .data-set a:hover{
    color: rgb(0, 143, 143);
}

.sidebar .data .type {
    font-size: 1.3rem;
    color: #727e8e;
    font-weight: 500;
    padding-bottom: 2px;
}

.sidebar .data .format, .sidebar .data .format a {
    color: rgb(146,153,161);
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 400;
}

.sidebar .tags h3 {
    margin-top: 22px;
    margin-bottom: 12px;
    color: rgb(92,114,138);
    font-size: 1.4rem;
    font-weight: 500;
}

.sidebar .tags .tag {
    background-color: white;
    padding: 8px 10px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: rgb(146,153,161);
    border-radius: 3px;
}

.sidebar .tags .tag a {
    font-size: 1.3rem;
    color: rgb(92,114,138);
}

@media (max-width: 768px) {
    .sidebar .tags {
        display: none;
    }
}