#staffs {
    margin-left: 50px;
    flex: 80%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 760px) {
    #staffs {
        margin: 20px 0 0;
    }
}

.staffs-wrap {
    flex-wrap: wrap;
    justify-content: space-between;
}

.staffs-card {
    display: flex;
    flex-direction: row;
    flex: 48%;
    max-width: 48%;
    margin-bottom: 20px;
    background-color: #151f2e;
}

@media (max-width: 1040px) {
    .staffs-card {
        flex: 100%;
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 760px) {
    .staffs-card {
        flex: 100%;
        max-width: 100%;
        width: 100%;
    }
}

.staffs-card img {
    width: 60px;
    height: 80px;
    object-fit: cover;
}

.staffs-card .staffs-name {
    display: flex;
    flex-direction: column;
    flex: 70%;
    justify-content: space-between;
}

.staffs-card .staffs-name a, p {
    color: #8b9fb5;
    text-decoration: none;
    padding: 10px;
    font-size: 12px;
}

.staffs-name p {
    margin-bottom: 0;
}

.staffs-card .staffs-name a:hover {
    color: rgb(0, 143, 143);;
}

