#staffs {
    margin-left: 50px;
    flex: 80%;
    display: flex;
    flex-direction: column;
}

.staffs-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.staffs-wrap .staffs-card {
    display: flex;
    flex-direction: row;
    flex: 48%;
    max-width: 48%;
    margin-bottom: 20px;
    background-color: #151f2e;
}

.staffs-wrap .staffs-card img {
    width: 60px;
    height: 80px;
    object-fit: cover;
}

.staffs-wrap .staffs-card .staffs-name {
    display: flex;
    flex-direction: column;
    flex: 70%;
    justify-content: space-between;
}

.staffs-wrap .staffs-card .staffs-name a, p {
    color: #8b9fb5;
    text-decoration: none;
    padding: 10px;
    font-size: 12px;
}

.staffs-wrap .staffs-card .staffs-name a:hover {
    color: rgb(0, 143, 143);;
}

