.tab {
    display: flex;
    justify-content: center;
}

.tab button{
    padding: 5px 20px;
    margin: 0 30px;
    background-color: transparent;
    border: none;
    border-bottom: 5px solid transparent;
    display: inline-block;
    transition: 0.3s;
}

.tab button:hover, .tab button.active{
    color: red;
    border-bottom: 5px solid red;
}