a {
    color: blue !important;
}

#themes {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}

.theme-list{
    display: flex;
    flex-direction: column;
}

.opening-song, .ending-song, .insert-song-list{
    margin-bottom: 50px;
}

.singer-list {
    display: flex;
    flex-direction: row;
}

.singer{
    background-color: lightgray;
    margin-right: 50px;
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: row;
}

.singer img{
    height: 100px;
    width: 75px;
    object-fit: cover;
    margin-top: 0px;
}

.singer .name{
    margin: 10px;
    float: inline-start;
    color: gray !important;
    text-decoration: none !important;
    transition: 0.5s;
}

.singer a:hover{
    color: rgb(241, 101, 101) !important;
}

.singer p{
    margin: 70px 10px 10px 0px;
    color: gray !important;
    text-decoration: none !important;
    border: 1px solid transparent;
    background-color: white;
    border-radius: 10%;
    transition: 0.5s;
}