.user-banner {
    width: 100%;
    height: 330px;
    object-fit: cover;
    background-position: 50% 35%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

@media (max-width: 768px) {
    .user-banner img {
        height: 200px;
    }
}

.user-photo {
    padding-left: 10%;
    margin-top: -230px;
}

@media (max-width: 1040px) {
    .user-photo {
        padding-left: 30px;
    }
}

@media (max-width: 768px) {
    .user-photo {
        margin-top: -160px;
    }
}

.user-photo img{
    width: 160px;
    height: 230px;
    object-fit: cover;
    border-radius: 5px 5px 0 0 ;
}

@media (max-width: 768px) {
    .user-photo img {
        width: 120px;
        height: 160px;
        object-fit: cover;
    }
}

.user-photo h4 {
    color: white;
    padding: 22px 25px;
    align-self: flex-end;
}