.user-profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.user-banner {
    display: flex;
    width: 100%;
    height: 330px;
    object-fit: cover;
    background-position: 50% 35%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

@media (max-width: 768px) {
    .user-banner img {
        height: 200px;
    }
}

.user-photo {
    position: relative;
    width: 1046px;
    margin-top: -160px;
}

@media (max-width: 1040px) {
    .user-photo {
        padding-left: 30px;
    }
}

@media (max-width: 768px) {
    .user-photo {
        margin-top: -160px;
    }
}

.user-photo img{
    max-width: 160px;
    max-height: 230px;
    object-fit: cover;
    border-radius: 4px 4px 0 0 ;
}

@media (max-width: 768px) {
    .user-photo img {
        width: 120px;
        height: 160px;
        object-fit: cover;
    }
}

.user-photo h1 {
    color: white;
    padding: 15px 25px;
    align-self: flex-end;
}