/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #de6d86;
    color: white;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: #de6d86;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    width: 16.66%;
    line-height: 50px;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 300;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #db5d79;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #d84b6b;
}

/* Style the tab content */
.tabcontent {
    display: none;
    width: 100.1%;
    margin-left: -1px;
}