
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Switch
@import "switch";

// Hentai Switch
@import "hentai-switch";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
    max-width: 100%;
}

body {
  /* font-family: 'Arial', 'Microsoft YaHei', '黑體', '宋體', sans-serif;
  font: 12px/1.5 Tahoma,Helvetica,Arial,'宋體',sans-serif; */
  font-family: 'Arial', 'Microsoft YaHei', '黑體', '宋體', sans-serif;
  background-color: #141414; 
  overflow-x: hidden;
  font-weight: bold;
}

.no-button-style{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#main-nav {
  position: fixed; 
  top: 0; 
  width: 100%; 
  height: 68px; 
  line-height: 68px; 
  background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0)); 
  padding: 0 4%; 
  transition: background-color .4s; 
  z-index: 1
}

#main-nav .nav-item, #main-mobile-nav .nav-item {
  font-size: 14px;
  padding: 0 8px;
  color: white;
}

#main-nav .nav-icon, #main-mobile-nav .nav-icon {
  padding: 0 12px;
  color: white;
}

#main-nav .nav-icon span, #main-mobile-nav .nav-icon span {
  font-size: 1.9em;
}

#main-nav a, #main-mobile-nav a {
  text-decoration: none;
}

#search-form {
  width: 50%; 
  margin-top: 14px; 
  left:370px; 
  position: absolute;
}

#home-banner-wrapper {
  width: 36%;
  bottom: 37%;
}

#home-banner-wrapper h4 {
  overflow: hidden;
  text-overflow: ellipsis; 
  display: -webkit-box; 
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical; 
  line-height: 25px; 
  text-shadow: 2px 2px 5px gray; 
  padding-top: 10px;
  margin-bottom: 30px;
}

#home-banner-wrapper .home-banner-btn {
  cursor: pointer; 
  font-size: 16px; 
  border-radius: 5px; 
  text-decoration: none;
}

#home-banner-wrapper .home-banner-play-btn {
  background-color: white; 
  padding: 14px 30px 14px 20px; 
  color: black;
}

#home-banner-wrapper .home-banner-info-btn {
  background-color: gray; 
  padding: 14px 30px 14px 25px; 
  color: white; 
  opacity: 0.8; 
}

#home-rows-wrapper {
  margin-top: -15vw;
}

#home-rows-wrapper h3 {
  padding: 0 4%; 
  font-size: 20px; 
  color: white; 
  padding-bottom: 5px;
}

#home-rows-wrapper .home-rows-videos-wrapper {
  overflow: auto; 
  white-space: nowrap; 
  padding: 0 4%; 
  margin-bottom: 50px;
}

#home-rows-wrapper .home-rows-videos-wrapper #home-rows-videos-div {
  width: calc((100% - 28px) / 7);
}

#home-rows-wrapper .home-rows-videos-wrapper img {
  width: 100%;
}

.search-rows-wrapper {
  margin-top: 160px !important;
}

#info-btn-wrapper button {
  width: 50px; 
  height: 50px;
  display: inline-block; 
  border: solid white 1px; 
  border-radius: 50%;
  vertical-align: middle; 
  margin-right: 3px;
  cursor: pointer;
}

#info-btn-wrapper button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#info-btn-wrapper div i {
  vertical-align: middle;
}

.home-save-form .single-icon i {
  margin-top: -3px;
  font-size: 1.9em;
}

.home-save-form .single-icon div {
  margin-top: -2px;
  font-size: 12px;
}

.list-rows-wrapper {
  margin-top: 100px !important;
}

.play-modal {
  width: 75%;
}

.nav-item-icon {
  position: absolute !important;
  top: 8px;
}

.nav-item-icon i {
  font-size: 27px;
}

.hover-opacity img:hover, .hover-opacity-all:hover {
  opacity: 0.8;
}

.hover-underline h4:hover {
  text-decoration: underline;
}

.analytics-row, .analytics-genre-row {
  padding: 6px 10px;
  border-bottom: solid 1px black;
}

.analytics-row .col-md-2 {
  width: 14.2%
}

.analytics-genre-row .col-md-3 {
  width: 40%;
}

.analytics-genre-row .col-md-2 {
  width: 12%;
}

.home-banner-wrapper, .home-banner-wrapper img {
  max-height: 250px;
}

.home-banner-wrapper {
  margin-bottom: 10px !important;
}

.home-banner-wrapper #home-banner-catchphrase {
  white-space: pre-wrap; 
  text-align: right; 
  position: absolute; 
  bottom: 16px; 
  right: 30px; 
  font-size: 2.2em; 
  font-weight: lighter; 
  color: gray; 
  line-height: 47px;
}

.home-banner-wrapper #home-banner-logo {
  white-space: pre-wrap; 
  text-align: left; 
  position: absolute; 
  top: 10px; 
  right: 30px; 
  font-size: 1.2em; 
  font-weight: 400;
  line-height: 47px;
}

.home-banner-wrapper #home-banner-logo #english-logo {
  border: 1px solid #E5E5E5; 
  padding: 5px 9px; 
  border-top-left-radius: 2px; 
  border-bottom-left-radius: 2px; 
  color: gray;
}

.home-banner-wrapper #home-banner-logo #chinese-logo {
  border: 1px solid #E5E5E5; 
  background-color:#E5E5E5; 
  color: white; 
  padding: 5px 9px; 
  border-top-right-radius: 2px; 
  border-bottom-right-radius: 2px;
}

.home-genre-banner-wrapper {
  width: 100%; 
  height: 150px; 
  position: relative;
}

.home-genre-banner-wrapper .home-genre-panel {
  position: absolute; 
  top: 13px; 
  left: 25px; 
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 3px;
}

label.upload-image-btn input[type="file"] {
    position:absolute;
    top: -1000px;
}

.upload-image-btn {
    width: 103px; 
    position: absolute; 
    top: 0px; 
    right:-100px; 
    background-color: #D5D5D5; 
    color: #666666; 
    border-color: #D5D5D5; 
    cursor: pointer; 
    height: 45px; 
    line-height: 45px; 
    text-align: center;
}
.upload-image-btn :invalid + span {
    color: #A44;
}
.upload-image-btn :valid + span {
    color: #4A4;
}

#comment-like-form-wrapper {
  margin-left: 45px;
}

#hentai-main-nav {
  background-color: #141414; 
  z-index: 1; 
  padding: 0 4%; 
  height: 68px; 
  position: fixed; 
  top: 0; 
  width: 100%;
  transition: .3s cubic-bezier(0,0,.2,1);
}

#hentai-logo {
  text-decoration: none;
  line-height: 68px;
}

#hentai-logo img {
  height: 25px;
}

#hentai-filter-nav button {
  border: 1px solid rgba(58,60,63,.85); 
  line-height: 46px; 
  width: 16vw; 
  text-align: center; 
  display: inline-block; 
  margin-right: 4px; 
  background-color: transparent;
  transition: all .2s cubic-bezier(0.5, 0, 0.1, 1);
}

#hentai-filter-nav button:hover {
  background-color: #3B3C3F;
}

#hentai-filter-nav button:focus {
  text-decoration: none;
  outline: 0;
}

#search-pagination {
  text-align: center; 
  margin-top: -75px
}

.modal-header .close {
  color: white;
}

/* Customize the label (the container) */
.hentai-tags-wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0px;
  padding: 0px;
  margin-right: 4px;
  margin-bottom: 8px;
}

/* Hide the browser's default checkbox */
.hentai-tags-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  height: 32px;
  line-height: 27px;
  width: auto;
  background-color: transparent;
  font-size: 12px !important;
  padding: 2px 12px;
  border: solid 1px #b08fff;
  border-radius: 28px;
  font-weight: 400;
  display: inline-block;
}

/* On mouse-over, add a grey background color */
.hentai-tags-wrapper:hover input ~ .checkmark {
  background-color: gray;
}

/* When the checkbox is checked, add a blue background */
.hentai-tags-wrapper input:checked ~ .checkmark {
  background-color: #b08fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.hentai-tags-wrapper input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.hentai-tags-wrapper .checkmark:after {
  background-color: #b08fff;
}

.hentai-footer {
  color: gray; 
  margin: 0px 10px; 
  padding: 20px 20% 10px 20%; 
  font-size: 0.95em; 
  line-height: 22px; 
  background: #212121 url('https://i.imgur.com/W65AiZb.png') bottom left/120px auto no-repeat;
}

#hentai-sort-panel {
  padding: 9px 0px;
  position: fixed; 
  right: 30px; 
  top: 65px; 
  background-color: #424242; 
  color: white;
  z-index: 100000;
  border-radius: 3px;
}

#hentai-sort-panel .hentai-sort-options {
  padding: 13px 40px;
  cursor:pointer;
}

#hentai-sort-panel .hentai-sort-options-wrapper:hover {
  background-color: #555555;
  transition: .3s cubic-bezier(.25,.8,.5,1);
}

.no-hover{
    pointer-events: none;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.stretch {
  display:inline-block;
  -webkit-transform:scale(1.5,0.7); /* Safari and Chrome */
  -moz-transform:scale(1.5,0.7); /* Firefox */
  -ms-transform:scale(1.5,0.7); /* IE 9 */
  -o-transform:scale(1.5,0.7); /* Opera */
  font-weight: 300;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  width: 100%; /* Set a default minimum width */
  height: 50px;
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  font-size: 1.1em;
  font-weight: 500;
  line-height: 50px;
  text-align: center; /* Centered text */
  position: fixed; /* Sit on top of the screen */
  z-index: 1000; /* Add a z-index if needed */
  left: 0px; /* Center the snackbar */
  bottom: 0px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 3.5s;
  animation: fadein 0.5s, fadeout 0.5s 3.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: -50px; opacity: 1;}
  to {bottom: 0px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: -50px; opacity: 1;}
  to {bottom: 0px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 0px; opacity: 1;}
  to {bottom: -50px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 0px; opacity: 1;}
  to {bottom: -50px; opacity: 1;}
}

nav input[type=text] {
  height: 30px;
  background-color: #e0e0e0;
  border: 0;
  width: calc(100% - 88px);
  padding-left: 5px;
  box-shadow: -8px 10px 0px -8px #ebebeb, 8px 10px 0px -8px #ebebeb;
  font-size: 16px;
}

nav input[type=text]:focus {
  outline: none;
  box-shadow: -8px 10px 0px -8px #d84b6b, 8px 10px 0px -8px #d84b6b;
}

@media screen and (min-width: 768px) { 
  .modal {
    text-align: center;
  }
  
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
}

#signUpModal input[type=text], #signUpModal input[type=email], #signUpModal input[type=password],
#loginModal input[type=text], #loginModal input[type=email], #loginModal input[type=password],
#subscribeModal input[type=text], #subscribeModal input[type=email], #subscribeModal input[type=password],
#uploadVideoModal input[type=text], #uploadVideoModal input[type=email], #uploadVideoModal input[type=password],
#uploadPlaylistModal input[type=text], #uploadVideoModal input[type=email], #uploadVideoModal input[type=password], #uploadVideoModal input[type=number] {
  width: 100%;
  height: 45px;
  border: 0.5px solid #e9e9e9;
  -webkit-appearance: none;
  box-shadow: inset 0px 0px 0px 0px red;
}

.multiple-link-wrapper {
  position:relative;
}

.multiple-link-wrapper .overlay {
  position:absolute;
  left:0; top:0; bottom:0; right:0;
}

.multiple-link-wrapper .inner {
  position:relative;
  pointer-events: none;
  z-index: 1;
}

.multiple-link-wrapper .inner a {
  color: gray;
  text-decoration: none;
  pointer-events: all;
}

.multiple-link-wrapper .inner a:hover {
  color: #444444;
}

.bottom-nav {
  overflow: hidden;
  position: fixed;
  display: inline-block;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 999;
  margin-bottom: 0;
  border-radius: 0;
}

.bottom-nav a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 20%;
  height: 100%;
}

.bottom-nav i {
  font-size: 28px;
}

.bottom-nav span {
  float: left;
  display: block;
  color: inherit;
  text-align: center;
  text-decoration: none;
  font-size: 9px;
  font-weight: 400;
  width: 20%;
  position: fixed;
  bottom: 0;
  padding-bottom: 5px;
}

.dark-theme-nav-bottom {
  background-color: #282828;
}

.dark-theme-nav-bottom a, .dark-theme-nav-bottom i {
  color: darkgray;
}

.dark-theme-nav-bottom a:hover, .dark-theme-nav-bottom a:hover i, .dark-theme-nav-bottom a.active, .dark-theme-nav-bottom a.active i {
  color: white;
}

.white-theme-nav-bottom {
  background-color: #131313;
}

.white-theme-nav-bottom a, .white-theme-nav-bottom i {
  color: dimgray;
  font-weight: lighter;
}

.white-theme-nav-bottom a:hover, .white-theme-nav-bottom a:hover i, .white-theme-nav-bottom a.active, .white-theme-nav-bottom a.active i {
  color: white;
}

.nav-tab-container h4{
  font-size:1.1em;
  font-weight: 400;
  color: gray;
}

.nav-tab-container-watch h4{
  font-size:1em;
  font-weight: 400;
  color: white;
}

.nav-tab-active span {
  font-weight: 500 !important;
  color: #d84b6b !important;
  border-bottom: 2px solid #d84b6b;
  padding-bottom: 5px;
}

.nav-rank-btn {
  width: 25%;
  float:left;
  text-align: center;
  text-decoration: none !important;
  height: 34px;
  margin-top: -5px;
}

.nav-home-btn {
  width: 20%;
  float:left;
  text-align: center;
  text-decoration: none !important;
  height: 34px;
  margin-top: -5px;
}

.nav-tab-active {
  margin-top: 9px;
}

.aspect-ratio, .dplayer-video-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.aspect-ratio iframe, .dplayer-video-wrap video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.dplayer-full-in-icon {
  display: none !important;
}

.show-panel-icons {
  margin-top: -1px;
  margin-bottom: 10px;
  color: darkgray;
}

.show-panel-icons .single-icon-wrapper {
  float: left;
  text-align: center;
  margin-left: calc((100% - 55px * 5) / 6);
}

.single-icon-wrapper .single-icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.show-panel-icons .single-icon i, .show-panel-icons .single-icon div {
  cursor: pointer;
  color: white;
}

.show-panel-icons .single-icon i {
  padding-top: 6px;
  font-size: 1.7em;
}

.show-panel-icons .single-icon div {
  margin-top: -2px;
  font-size: 0.85em;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar-bottom {
  background-color: #3c3d41;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
  height: 70px;
}

/* Change the color of links on hover */
.navbar-bottom a:hover {
    background-color: #3b5998;
    color: white;
    text-decoration: none;
}

/* Add a color to the active/current link */
.navbar-bottom a.active {
  background-color: #3b5998;
  color: white;
  text-decoration: none;
}

.nav-bottom-share-btn {
    background-color: #4264aa;
    border-radius: 2px;
    border: 1px solid #4264aa;
    padding: 3px 10px 3px 10px;
    color: white !important;
    text-decoration: none;
}

.nav-bottom-like-left {
    width:50%;
    float: left;
}

.nav-bottom-share-right {
    width:50%;
    float: right;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.pagination > li > a, .pagination > li > span {
  background-color: #424242;
  border-color: #424242;
  color: #fff !important;
  font-size: 12px;
  padding-left: 12px;
  padding-right: 12px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  margin: .3rem;
  transition: .3s cubic-bezier(0,0,.2,1);
  border-radius: 4px;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  background-color: #404040;
  border-color: #404040;
}

.pagination > li > a:hover, .pagination > li > span:hover {
  background-color: gray;
  border-color: gray;
}

.search-pagination .pagination>li>a,
.search-pagination .pagination>li>span {
  color: #636b6f;
}
.pagination>li.active>span {
  background-color: crimson;
  color: #fff !important;
  border-color: crimson;
}
.pagination>li.active>span:hover {
  background-color: crimson;
  border-color: crimson;
}

.btn-info {
    background-color: #d84b6b !important;
    border-color: #d84b6b !important;
    border-radius: 2px !important;
    font-weight: 600;
    transition: 0.3s;
    width: 100%;
    line-height: 26px;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
    background-color: #db5d79 !important;
    border-color: #db5d79 !important;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.at-share-btn-elements a {
  margin-right: 7px !important;
}

#copy-btn:active {
  outline: solid;
  outline-width: 2px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: dimgray;
    font-size: 0.8em;
    margin: 20px 0px;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #e9e9e9;
}
.separator::before {
    margin-right: 1em;
}
.separator::after {
    margin-left: 1em;
}

.social-login-wrapper-left {
  margin-right: 3px;
}

.social-login-wrapper-right {
  margin-left: 3px;
}

.social-login-wrapper-left:active, .social-login-wrapper-right:active {
  background-color: #e9e9e9;
}

.footer a {
  color: inherit;
}

@media (max-width: 1199px) {
  #home-banner-wrapper {
    width: 50%;
  }

  #home-rows-wrapper .home-rows-videos-wrapper #home-rows-videos-div {
    width: calc((100% - 24px) / 6);
  }

  #search-pagination {
    margin-top: -70px
  }

  .list-rows-wrapper {
    margin-top: 90px !important;
  }

  #search-form {
    left: calc(4% + 35px);
    width: calc(92% + 50px); 
  }
}

@media (max-width: 991px) {
  .play-modal {
    width: 85%;
  }

  #home-rows-wrapper {
    margin-top: 3.5vw;
  }

  #home-rows-wrapper h3 {
    font-size: 16px;
    padding-bottom: 0px;
  }

  #home-rows-wrapper .home-rows-videos-wrapper {
    margin-bottom: 10px;
  }

  #home-banner-wrapper {
    width: 65%;
    bottom: 8%;
  }

  #home-rows-wrapper .home-rows-videos-wrapper #home-rows-videos-div {
    width: calc((100% - 16px) / 4);
  }

  #search-pagination {
    margin-top: -35px
  }

  .list-rows-wrapper {
    margin-top: 90px !important;
  }

  #comment-like-form-wrapper {
    margin-left: 50px;
  }

  .hentai-footer {
    padding: 15px calc(4% - 10px) 5px calc(4% - 10px);
  }

  .social-login-wrapper-left:hover, .social-login-wrapper-right:hover {
    background-color: #e9e9e9;
  }

  .social-login-wrapper-left, .social-login-wrapper-right {
    margin: 0px;
  }

  .social-login-wrapper-right {
    margin-top: 10px;
  }
}

@media (max-width: 767.9px) {
  .nav-bottom-padding {
    padding-bottom: 50px;
  }

  .play-modal {
    width: calc(100% - 10px);
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    margin-left: 5px;
  }

  #main-nav {
    position: absolute;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0)) !important; 
    background-color: transparent !important;
    height: 50px;
    line-height: 50px;
  }

  #home-banner-wrapper {
    width: 80%;
  }

  #home-banner-wrapper h3 {
    font-size: 15px;
  }

  #home-banner-wrapper h1 {
    font-size: 24px;
    padding-bottom: 20px;
    font-weight: bold;
  }

  #home-banner-wrapper .home-banner-btn {
    font-size: 13px; 
  }

  #home-banner-wrapper .home-banner-play-btn {
    background-color: white; 
    padding: 10px 21px 10px 11px; 
    color: black;
  }

  #home-banner-wrapper .home-banner-info-btn {
    background-color: gray; 
    padding: 10px 21px 10px 13px; 
    color: white; 
    opacity: 0.8; 
  }

  #home-rows-wrapper {
    margin-top: -15vw;
  }

  #home-rows-wrapper h3 {
    font-weight: bold;
  }

  #home-rows-wrapper .home-rows-videos-wrapper #home-rows-videos-title {
    font-size: 12px;
  }

  #home-rows-wrapper .home-rows-videos-wrapper #home-rows-videos-div {
    width: calc((100% - 12px) / 3);
    margin-bottom: 4px !important;
  }

  .intro-rows-wrapper {
    margin-top: 100px !important;
    margin-bottom: 80px;
  }

  .search-rows-wrapper {
    margin-top: 134px !important;
  }

  #search-pagination {
    margin-top: 10px;
  }

  .list-rows-wrapper {
    margin-top: 75px !important;
  }

  .hentai-row-wrapper {
    padding: 0px 7px !important;
  }

  .hentai-row-wrapper .col-xs-4 {
    padding: 0px 6px !important;
  }
}
