
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Dropdown
@import "dropdown";

// Vertical Tab
@import "vertical_tab";

// Order Show Vertical Tab
@import "order_vertical_tab";

// Horizontal Tab
@import "horizontal_tab";

// Register
@import "register";

// Footer
@import "footer";

// Order Form
@import "job_form";

// Search Home Form
@import "search_home_form";
@import "search_top_form";

// Breadcrumbs
@import "breadcrumbs";

// Quantity
@import "quantity_btn";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
    background-color: white; 
}

a, a:visited {
    color: #d84b6b;
}

a:hover, a:link {
    color: #97344a;
}

#browse-job-search button {
    border:0px;
    color:#ffffff;
    font-weight:600;
    background-color:#54565c
}

.related-blogs-date {
    color: gray;
}

nav {
    border-bottom-width: 0px !important;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 55px;
    z-index: 99;
}

nav, nav div {
    background-color: #42464A !important;
}

nav a {
    color: #f1f1f1 !important;
}

.home-nav a {
    color:#ffffff;
    font-weight: 600;
    margin-right: 20px;
    font-size: 15px;
}

.nav-search nav {
    border-bottom: 1px solid #E6E6E6 !important;
}

.resume-form-container {
    background-color:white;
    width: 70%;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 40px;
    padding-bottom: 90px;
}

.search-pagination .pagination>li>a,
.search-pagination .pagination>li>span {
  color: #636b6f;
}
.pagination>li.active>span {
  background-color: rgb(216, 75, 107);
  color: #fff !important;
  border-color: rgb(216, 75, 107);
}
.pagination>li.active>span:hover {
  background-color: rgb(216, 75, 107);
  border-color: rgb(216, 75, 107);
}

.card-shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
}

.hover-box-shadow {
    transition: 0.3s;
}

.hover-box-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.navbar-right {
    font-size: 15px;
    font-weight: 600;
}

.application-list {
    font-size: 15px;
    padding-bottom: 10px;
}

.selectJobContainer a {
    text-decoration: none;
    cursor: pointer;
}

.selectJobContainer a:hover {
    color:blue;
}

.featured-category {
    border-radius: 5px;
    border: solid 1px #f2f2f2;
    width:100%
}

#browse-job-search button:hover{
    color: black;
}

input[type=file] {
    display:none;    
}

.btn-info {
    background-color: #d84b6b !important;
    border-color: #d84b6b !important;
    border-radius: 2px !important;
    font-weight: 600;
    transition: 0.3s;
    width: 100%;
    line-height: 26px;
}

.btn-browse {
    color: white;
    background-color: #d84b6b !important;
    border-color: #d84b6b !important;
    font-weight: 600;
    transition: 0.3s;
    width: auto;
}

.btn-browse:hover{
    color: black;
}

.btn-primary {
    font-weight: 300;
    transition: 0.3s;
    width: 100%;
    border-color: #428bca !important;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
    background-color: #db5d79 !important;
    border-color: #db5d79 !important;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.order-show .btn-info {
    background-color: white !important;
    color: #d84b6b;
}

.order-show .btn-info:hover, .order-show .btn-info:focus, .order-show .btn-info:active, .order-show .btn-info.active, .order-show .open>.dropdown-toggle.btn-info {
    background-color: #db5d79 !important;
    border-color: #db5d79 !important;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    color: white;
    transition: 0.4s;
}

.order-show .btn-primary {
    background-color: white !important;
    color: #428bca;
}

.order-show .btn-primary:hover, .order-show .btn-primary:focus, .order-show .btn-primary:active, .order-show .btn-primary.active, .order-show .open>.dropdown-toggle.btn-primary {
    background-color: #428bca !important;
    border-color: #428bca !important;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    color: white;
    transition: 0.4s;
}

.order-show .order-index-btn {
    @media (max-width: 992px) {
        margin-top: 7px;
    }
    border-radius: 2px !important;
    padding: 10px 20px 10px 20px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.owl-carousel {
	margin: 0;
}

.owl-carousel .owl-nav [class*=owl-] {
	background: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.9);
	background-color: transparent;
	line-height: 30px;
	text-align: center;
	border-radius: 20px;
}

.owl-carousel .owl-nav [class*=owl-]:hover {
	background-color: transparent;
	color: white;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
	position: absolute;
	top: 40%;
	height: 30px;
}

.owl-carousel .owl-prev {
	left: 0px;
}

.owl-carousel .owl-next {
	right: 0px;
}

.blog-carousel .owl-controls .owl-buttons .owl-prev{
  left: -2%;
  top: 170px; 
}

.blog-carousel .owl-controls .owl-buttons .owl-next{
  right: -1.5%;
  top: 170px; 
}

.card-order {
    background-color: white;
    border-radius: 3px;
}

.card-panel {
    margin-top: 25px;
    background-color: white;
    border: 1px solid #E6E6E6;
    width: 100%;
}

.card-panel h5 {
    font-weight: 300;
}

.card-panel-title {
    font-size: 15px;
    font-weight: 300;
}

.card-custom {
    margin-top: 25px;
    background-color: white;
    width: 100%;
    padding: 5px 15px 5px 15px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card-custom h5 {
    font-weight: 300;
}

.order-summary-content {
    @media (max-width: 992px) {
        width: 100%;
    }
    width: 90%;
}

.order-summary-content h4 {
    @media (max-width: 992px) {
        font-size: 10px;
    }
    font-size: 15px;
    font-weight: 300;
}

.order-summary-content input, .order-summary-content select {
    @media (max-width: 992px) {
        font-size: 10px !important;
    }
}

.order-product-section .col-md-1 h4 {
    text-align: right;
}

#left {
    @media (max-width: 992px) {
    }
    width: 400px;
    height: 100%;
    position: fixed;
    left:0;
    border-right: 1px solid #E6E6E6;
    overflow-y: scroll;
}

#right {
    width: calc(100% - 400px);
    height: calc(100% - 120px);
    position: fixed;
    top: 132px;
    right: 0;
    overflow-y: scroll;
}

.right-search-top {
    margin-top: 5px;
    padding-top: 9px;
    width: calc(100% - 400px);
    position: fixed;
    right: 0;
    background-color: #65666c;
}

.right-search-top div, .right-search-top form {
    background-color: #65666c !important;
}

.sidenav > div > a {
    color: grey;
}

.sidenav > div, .sidenav > div > a:hover, .sidenav > div > a:focus {
    color: black;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .1rem;
    text-decoration: none;
    line-height: 35px;
}

a > i {
    margin-top: 4px;
}

.sidenav div.active {
    background-color: #E6E6E6;
}

.sidenav div.active > a {
    color: black;
}

.category-tab > button {
    padding: 0;
}

#order-img
{    
    width:100%;
    height: 100%;
    position:relative;
}

#img-text
{
    z-index:1000;
    position:absolute;    
    color:#d84b6b;
    font-size:24px;
    font-weight:bold;
    right:0px;
    bottom:37px;
}

#img-text-left
{
    z-index:1000;
    position:absolute;    
    color:#d84b6b;
    font-size:20px;
    font-weight:bold;
    right:5px;
    bottom:10px;
}

#img-text-right
{
    z-index:1000;
    position:absolute;    
    color:#d84b6b;
    font-size:20px;
    font-weight:bold;
    right:0px;
    bottom:10px;
}

.border-radius-2 {
    border-radius: 2px !important;
}

.blog-content {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: .7px;
}

.blog-content h4 {
  font-size: 30px;
  font-weight:300;
  line-height: 40px;
  letter-spacing: .8px;
}

#order-purchase-btn {
    @media (max-width: 768px) {
        max-width: 150px;
        margin-left: 25px;
    }
    max-width: 200px;
}

#order-show-sidebar {
    @media (max-width: 768px) {
        padding-left: 15px;
    }
    padding-left: 25px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
